body {
    background-color: #F7F7F7;
    color: black;
}

.Title{
    text-align: center;
    font-size: 40px;
    font-family: monospace;
}
header{
    background-color: white;
    border-radius: 15px 15px 3px 3px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 98dvw;
}
.formhead{
    height: 35%;
    max-width: auto;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffcfc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}
.registration-form{
    margin-top: 9%;
    width: 25%;
    height: 100%;
    margin-left: 37%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
#signup{
    font-size: 30px;
}
.captcha {
    margin-top: 5%;
    background-color: #F7F7F7;
    width: 77%;
    height: 100px;
    margin-left: 10%;
    justify-content: space-between; 
    align-items: center;
    display: flex;
}
.capbox{
    margin-left: 5%;
}
.capimage{
    margin-right: 5%;
}
#checkbox{
    transform: scale(2);
}

#name,
#email,
#re-email,
#password,
#re-passowrd{
    height: 35px;
    width: 90%;
    margin-top: 2%;
}
.userinput{
    margin-left: 5%;
}
#btncreate-account{
    margin-left: 5%;
    margin-top: 5%;
    height: 35px;
    width: 90%;
    background-color: black;
    color: white;
}
#terms{
    margin-left: 5%;
}
a {
    text-decoration: none; 
    color: blue;
}

